@page "/"
@using MyBotWeb.Services
@inject BotService BotService
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>StarCraft Bot Dashboard</PageTitle>

<h1 class="text-light mb-4" >StarCraft Bot Dashboard</h1>

@if (!_gameStarted)
{
    <LaunchControl OnGameReady="HandleGameReady" />
}
else
{
    <GameInfo />
}

@code {
    private bool _gameStarted = false;

    protected override void OnInitialized()
    {
        BotService.GameStarted += OnGameStarted;
    }

    private void HandleGameReady()
    {
        _gameStarted = true;
        StateHasChanged();
    }

    private void OnGameStarted()
    {
        _gameStarted = true;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        BotService.GameStarted -= OnGameStarted;
    }
}


