@page "/"
@using MyBotWeb.Services
@inject BotService BotService
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>StarCraft Bot Dashboard</PageTitle>

<h1 class="text-light mb-4" >StarCraft Bot Dashboard</h1>

@if (!BotService.IsInGame)
{
    <LaunchControl />
}
else
{
    <EndGame />
    <GameInfo />
}

@code {
    private void Reload() => InvokeAsync(StateHasChanged);
    protected override void OnInitialized()
    {
        BotService.GameStartedOrEnded += Reload;
    }
    public void Dispose()
    {
        BotService.GameStartedOrEnded -= Reload;
    }
}


