@page "/"
@using MyBotWeb.Services
@inject BotService BotService
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>StarCraft Bot Dashboard</PageTitle>
<div class="flex flex-row justify-between align-center">
    @if (BotService.IsInGame)
    {
        <div class="my-auto">
            <EndGame />
        </div>
    }
</div>

@if (!BotService.IsInGame)
{
    <LaunchControl />
}
else
{
    <GameSpeedControl />
    <div class="flex flex-row">
        <div>
            <MapAndClickHandlers />
        </div>
        <div>
            <BuildQueue />
        </div>
    </div>
    <GameInfo />
}

@code {
    private void Reload() => InvokeAsync(StateHasChanged);
    protected override void OnInitialized()
    {
        BotService.GameStartedOrEnded += Reload;
    }
    public void Dispose()
    {
        BotService.GameStartedOrEnded -= Reload;
    }
}